/app/config/parameters.yml
/coverage/
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/var/bootstrap.php.cache
/web/config.php
var/SymfonyRequirements.php
.php_cs.cache
.idea/*
.env
security-checker
