language: php

sudo: false

cache:
  directories:
    - bin
    - vendor
    - $HOME/.composer/cache

php:
  - 5.6
  - 7.0

before_install:
  - 'if [[ $TRAVIS_PHP_VERSION != "hhvm" && $TRAVIS_PHP_VERSION != "7.0" ]]; then phpenv config-rm xdebug.ini; fi;'
  - composer self-update

install:
  - composer update --prefer-dist --no-interaction --no-progress

script:
  - vendor/bin/phpunit

notifications:
  email: false