{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="text-center page-header">
                    <div>
                        <img src="http://www.prestashop.com/preston/images/headerA.jpeg" />
                    </div>

                    <h1>Preston: The PrestaShop contributor best friend</h1>

                    <div>
                        <a href="{{ needsReviewUrl }}" class="btn btn-primary">Find "Needs Review" issues and pull requests</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
