{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center page-header">
                <div>
                    <img class="img-fluid" src="http://www.prestashop.com/preston/images/headerA.jpeg" />
                </div>

                <h1>Preston: The PrestaShop contributor best friend</h1>
                
                <div class="text-center">
                    <a href="{{ needsReviewUrl }}" class="btn btn-primary">Find "waiting for code review" pull requests</a>
                    <a href="{{ waitingForQAUrl }}" class="btn btn-primary">Find "waiting for QA feedback" pull requests</a>
                    <a href="{{ waitingForPMUrl }}" class="btn btn-primary">Find "waiting for PM feedback" pull requests</a>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
