{% extends 'base.html.twig' %}
{% block title %}Teams dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center page-header">
                <h1>Teams Dashboard</h1>
                {% for team in teams %}
                    <h2>{{ team.name }}</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Users</th>
                            </tr>
                        </thead>
                        {% for member in team.members %}
                            <tr>
                                <td>
                                    <a href="{{ member.html_url}}"><b>{{ member.login }}</b>
                                        <img width="50" height="50" src="{{ member.avatar_url }}" />
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>No member in this team</tr>
                        {% endfor %}
                    </table>
                {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}
