{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center page-header">
                <div>
                    <img class="img-fluid" src="https://camo.githubusercontent.com/6dff5ecb9b65d014276db97c9346b03436db8490/687474703a2f2f692e696d6775722e636f6d2f723236674a57342e706e67" />
                </div>

                <h1>Preston: The PrestaShop contributor best friend</h1>
                
                <div class="text-center">
                    <a href="{{ needsReviewUrl }}" class="btn btn-primary">Find "waiting for code review" pull requests</a>
                    <a href="{{ waitingForQAUrl }}" class="btn btn-primary">Find "waiting for QA feedback" pull requests</a>
                    <a href="{{ waitingForPMUrl }}" class="btn btn-primary">Find "waiting for PM feedback" pull requests</a>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
