<!-- PR_WORDING -->
Hi!

Your pull request seems to contain new translation strings:

{% for domain, strings in newStrings %}
-{% if strings.new %} [{% if strings.validated %}x{% else %} {% endif %}] <span title="New domain!">⚠️</span>{% endif %} `{{ domain }}`
{% for string in strings.strings %}
    - [{% if string.validated %}x{% else %} {% endif %}] `{{ string.string }}`
{% endfor %}
{% endfor %}

(note: this is an automated message, but answering it will reach a real human )
