{% macro generateList(title, contribs) %}
    <b>{{ title }}:</b>
    <ul>
        {% for contrib in contribs %}
            <li>
                {% set updatedAt = contrib.updatedAt is null ? contrib.createdAt : contrib.updatedAt %}
                <a href="{{ contrib.htmlUrl }}">{{ contrib.title }}</a> - since {{ updatedAt|date('d/m/Y') }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
