<!-- PR_WORDING -->
This pull request seems to contain new translation strings. I have summarized them below to ease up review:

{% for domain, strings in newStrings %}
-{% if strings.new %} [{% if strings.validated %}x{% else %} {% endif %}] <span title="New domain!">⚠️</span>{% endif %} `{{ domain }}`
{% for string in strings.strings %}
    - [{% if string.validated %}x{% else %} {% endif %}] [`{{ string.string|raw }}`]({{ string.link }})
{% endfor %}
{% endfor %}

(Note: this is an automated message, but answering it will reach a real human)
